<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
</web-app>

<!--
  在默认情况下，Servlet 2.3/JSP 1.2是不支持EL表达式的，而Servlet 2.4 /JSP 2.0支持。
  参见 https://blog.csdn.net/qq_48033003/article/details/117508888
-->

